#application-background {
    text-align: center;
}

.applications-upper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.applications-upper-text img {
    max-width: 4vw;
}

.applications-upper-text p {
    width: 65vw;
    text-align: center;
}

.application-gallery {
    display: flex;
    justify-content: center;
}

.application-image-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0.35rem;
}

.application-image-container .centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.application-image-container .lower-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.application-image-container img {
    border-radius: 1rem;
    width: 20vw;
    height: 27vh;
}

@media screen and (max-width: 1000px) {
    .application-gallery {
        display: flex;
        flex-direction: column;
    }

    .application-image-container img {
        border-radius: 1rem;
        width: 80vw;
        height: auto;
    }

    .applications-upper-text img {
        max-width: 9vw;
    }

    .applications-upper-text p {
        width: 80vw;
        text-align: center;
    }
    
}