.contact-upper-section-text {
    text-align: center;
}

.reference-contact-us {
    display: flex;
    justify-content: center;
}

.container-contact-us {
    text-align: center;
    margin: 1rem;
}

.container-contact-us p {
    margin-bottom: 0;
}

#contact-us-icon-top {
    margin-bottom: 0.50rem;
}

#contact-us-connector {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.usually-asked-contact {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2rem ;
}

#usually-text {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .reference-contact-us {
        flex-direction: column;
    }

    .container-contact-us {
        text-align: center;
        margin: 0.70rem;
    }
 }