#our-products-background {
    text-align: center;
}

.our-products-upper-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.our-products-upper-text img {
    max-width: 4vw;
}

.our-products-upper-text p {
    width: 65vw;
    text-align: center;
}

.our-products-upper-text {
    text-align: center;
}

.our-products-upper-container img {
    max-width: 4vw;
}

.our-product-gallery {
    display: flex;
    justify-content: center;
}

.our-product-image-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0.35rem;
}

.our-product-image-container .product-centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.our-product-image-container .product-lower-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.our-product-image-container img {
    border-radius: 1rem;
    width: 19vw;
}

@media screen and (max-width: 1000px) {
    .our-product-gallery {
        display: flex;
        flex-direction: column;
    }

    .our-product-image-container img {
        border-radius: 1rem;
        width: 70vw;
    }

    .our-products-upper-text img {
        max-width: 9vw;
    }

    .our-products-upper-text p {
        text-align: center;
        max-width: 20rem;
    }
    
}