#rubber-mulch-main-text {
    text-align: center;
    margin-bottom: 2rem
}

.mulch-upper-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    /* border: 1px solid #ccc;
    background-color: #f0f0f0; */
}

.what-is-rubber-mulch {
    /* text-align: center; */
    width: 20vw;
    margin-right: 3rem;
}

.what-is-rubber-mulch p {
    font-size: 1.2rem;
}

.what-is-rubber-mulch-image img {
    border-radius: 1.50rem;
}


/* Next section  */

#areas-of-use-upper-text {
    text-align: center;
}

.areas-of-use {
    display: flex;
    justify-content: center;
}

.applications-rubber-mulch {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

#checkmark-option {
    vertical-align: bottom;
}

.image-text-rubber-mulch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

.rubber-mulch-info-left,
.rubber-mulch-info-right {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rubber-mulch-info-left p {
    line-height: 1.5;
    max-width: 30vw;
    font-size: 1.4rem;
}

.rubber-mulch-info-left img {
    width: 4vw;
}

.rubber-mulch-info-right h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.rubber-mulch-info-right img {
    width: 30vw;
    height: auto;
    /* border-radius: 0.30rem; */
    border-bottom: 5px solid green ;
}

@media screen and (max-width: 1000px) {
    .mulch-upper-section {
        flex-direction: column;
        padding: 0rem;
    }

    .what-is-rubber-mulch {
        width: 75vw;
        text-align: center;
        margin-right: 0rem;
    }

    .what-is-rubber-mulch-image img {
        border-radius: 1rem;
        width: 70vw;
    }

    .areas-of-use {
        display: none;
    }

    .image-text-rubber-mulch-container {
        flex-direction: column;
    }

    .rubber-mulch-info-left p {
        max-width: 75vw;
    }
    
    .rubber-mulch-use-section {
        margin-top: 3rem;
    }

    .rubber-mulch-info-right img {
        width: 70vw;
    }

    .rubber-mulch-info-left img {
        width: 8vw;
    }
}