.what-we-do-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.what-we-do-text img {
    max-width: 5vw;
    margin: 1rem;
}

.what-we-do-text p {
    max-width: 50vw;
    text-align: center;
}

.visualization-images {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.visualization-images img {
    max-width: 4vw;
    margin-left: 1rem;
}

#right-arrow {
    opacity: 0.95;
}

.collections-points {
    text-align: center;
    margin-top: 4rem;
}

.processing-points {
    text-align: center;
    margin-top: 4rem;
}

.areas-of-use {
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}