  .main-sec {
    min-height: 75vh;
    display: flex;
    background-size: cover;
    background-position: 0% 50%;  
  }

  .background-text-mobile {
    display: none;
  }
  
  .main-sec .content h3 {
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    display: inline-flex;
  }
  
  .main-sec .content p {
    color: #fff;
    max-width: 43.75rem;
    font-size: 1.20rem;
  }
  
  .about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about-us h1 {
    border-bottom: solid green;
  }
  
  .about-us p {
    max-width: 35vw;
  }
  
  .dispose-tires {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .dispose-tires p {
    max-width: 35vw;
  }
  
  .dispose-button {
    /* margin-top: 1vh; */
    padding: 0.75rem;
    color: orange;
    /* margin-bottom: 1vh; */
  }
  
  .product-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-section p {
    max-width: 35vw;
  }
  
  .gold-ingots {
    width: 7rem;
    text-align: center;
  }
  
  .container ul {
    list-style-type: none;
  }

/* Image gallery */
  .main-our-product-gallery {
    display: flex;
    justify-content: center;
}

.main-our-product-image-container {
    position: relative;
    text-align: center;
    color: white;
    margin: 0.35rem;
}

.main-our-product-image-container .product-centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-our-product-image-container .product-lower-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main-our-product-image-container img {
    border-radius: 1rem;
    width: 19vw;
}

@media screen and (max-width: 650px) {
  
.main-sec .content {
  display: none;
}

.main-sec {
  min-height: 20vh;
  display: flex;
  }

  .about-us p {
    max-width: 80vw;
  }

  .dispose-tires p {
    max-width: 80vw;
  }

  .product-section p {
    max-width: 80vw;
  }

  .main-our-product-gallery {
    display: flex;
    flex-direction: column;
  }

  .main-our-product-image-container img {
    border-radius: 1rem;
    width: 70vw;
  }

}

