.navbar img {
  width: 175px;
}

.navbar {
  background-color: #97b0c7;
  width: 100%;
  display: flex;
}

.navbar ul{
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  margin-left: 75px;
}

.navbar img {
  width: 175px;
}

.navbar span {
  color: white;
  cursor: pointer;
  font-size: large;
  transition: 500ms;
}

.navbar span:hover {
  color: rgb(14, 153, 14);
  transition: 210ms;
}