.navbar {
  background-color: #97b0c7;
  width: 100%;
}

.navbar ul{
  display: flex;
  list-style: none;
  justify-content: start;
}

.navbar li {
  margin-left: 100px;
  
}

.navbar span:hover {
  background-color: blue;
}