.backgr {
  text-align: center;
  margin-top: 40px;
  padding: 200px;
}

.main-sec {
  min-height: 80vh;
  display: flex;
  background-size: cover;
  background-position: center;  
  
}

.main-sec .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 50px;
  display: inline-flex;
  margin-left: 50px;
  margin-bottom: 10px;
}

.main-sec .content p {
  color: #fff;
  margin-left: 80px;
  max-width: 700px;
  font-size: 20px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-us h1 {
  border-bottom: solid green;
}

.about-us p {
  max-width: 900px;
}

.dispose-tires {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.dispose-tires p {
  max-width: 600px;
}

.dispose-button {
  padding: 10px;
  color: orange;
  margin-bottom: 20px;
}

.dispose-tires-text {
  margin-bottom: 5px;
  padding-top: 12px;
}

.product-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-section p {
  max-width: 600px;
}

.gold-ingots {
  width: 100px;
  text-align: center;
}

.image-gallery-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery-one > li {
  flex-basis: 400px;
}

.image-gallery-one li img {
  object-fit: cover;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.container ul {
  list-style-type: none;
}