.header-elem {
  background-color: #97b0c7;
  display: flex;
  width: 100%;
}

.header-elem p {
  color: white;
  margin-left: 20px;
  margin-top: 75px;
  margin-bottom: auto;
  cursor: pointer;
}

header img {
  width: 175px;
}

.language-options {
  display: flex;
  margin-left: auto;
  margin-right: 70px;
}

.language-options .eng-option {
  border-right: solid green;
  padding: 20px;
  padding-right: 30px;
  margin-top: 55px;
}

.language-options .ukr-option{
  padding: 20px;
  padding-left: 10px;
  margin-top: 55px;
}

.language-options .eng-option:hover, .ukr-option:hover {
  color: rgb(47, 129, 58);
}

.about-us {
  text-align: center;
  background-image: url();
}

.about-us h1 {
  border-bottom: solid rgb(89, 185, 89);
  display: inline-block;
}

.backgr {
  text-align: center;
  margin-top: 40px;
  padding: 200px;
}

.main-sec {
  min-height: 90vh;
  display: flex;
  background-size: cover;
  background-position: center;  
  
}

.main-sec .content h3 {
  font-size: 5rem;
  text-transform: uppercase;
  color: #fff;
  margin-top: 50px;
  display: inline-flex;
  margin-left: 50px;
}

.main-sec .content p {
  color: #fff;
  margin-left: 50px;
  max-width: 700px;
  font-size: 20px;
}

